@model FFMP.Data.RequirementResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RequirementResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Must)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Must)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditingLogs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditingLogs.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequirementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
